pandas
openpyxl
customtkinter
wordcloud
fpdf2>=2.7
matplotlib
seaborn
weasyprint
jinja2
spacy
sudachipy
sudachidict_core
instructor
pydantic
openai
pydantic-settings
python-dotenv
google-cloud-secret-manager
